* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    list-style: none;
    text-decoration: none;;
    color: black;
    body {
        max-width: 1440px;
        margin: 0 auto;
    }
    main {
        max-width: 1148px;
        margin: 0 auto;
    }
    a{
        font-weight: normal;
        text-transform: uppercase;
        transition: font-weight 0.3s ease-in-out;
        &:hover {
            font-weight: bold;
        }
    }
    button {
        @include button-static;
        transition: all 0.3s ease-in-out;
        &:hover {
            @include button-hover;
        }
    }

}