.hero {
    height: 962px;
    margin: 0 auto;
    position: relative;
    &::before {
        content: "photographe event";
        text-transform: uppercase;
        position: absolute;
        color: transparent;
        -webkit-text-stroke: 3px white;
        font-size: 96px;
        font-family: "Space Mono", monospace;
        font-weight: bold;
        font-style: italic;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .photo-block {
        width: 100%;
        height: 100%;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.home-container{
    width: 1148px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 100px 0;
    .home-button-filter, .home-button-load-more{
        height: 43px;
        width: 100%;
    }
    .home-list-photo{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    }
    .home-button-load-more {
        display: flex;
        justify-content: center;
    }
    
}