@media all and (max-width: 1024px) {
    //NAVIGATION
    nav {
        display: block;
        max-width: 100%;
        position: relative;
        height: fit-content;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
        .navbar {
            max-width: 100%;
            height: fit-content;
            justify-content: flex-start;
            flex-direction: column;
            height: 100%;
            .navbar-logo-burger {
                width: 100%;
                @include display-flex;
                justify-content: space-between;
                height: 72px;
                padding: 0 40px;
                #logo img {
                    height: 9px;
                    width: 138px;
                }
                .burger {
                    display: block;
                    .hidden {
                        display: none;
                    }
                }
            }
            .menu-links {
                transform-origin: top;
                transform: scaleY(0);
                opacity: 0;
                transition: all 0.5s ease-in-out;
                overflow: hidden;
                background-color: $color-menu-mobile-background;
                width: 100vw;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 0;
                ul {
                    flex-direction: column;
                    text-align: center;
                    a,p {
                        @include nav-links-mobile;
                    }
                }
                &.active {
                    transform: scaleY(1);
                    opacity: 1;
                    height: 93vh;
                    z-index: 1;
                }
            }
        }
    }

    //SINGLE PAGE
    .single-photo-container {
        width: 100vw;
        padding: 20px 40px;
        height: auto;
        .photo-content {
            height: auto;
            flex-direction: column-reverse;
            gap: 20px;
            .photo-infos {
                width: 100%;
                border: none;
                h2#photo-title {
                    @include h2-mobile-style;
                }
            }
            .photo-image {
                width: 100%;
            }
        }
        
        .photo-options {
            flex-direction: column;
            height: fit-content;
            .option-contact {
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                width: 100vw;
                flex-direction: column;
                gap: 20px;
                height: fit-content;
                padding: 30px 40px 25px;
                align-items: start;
                button {
                    width: 100%;
                }
            }
            .option-arrow {
                display: none;
            }
        }
    }


    //FOOTER
    footer .modal-container.active {
        width: 100%;
        height: 100%;
        .modal {
            height: auto;
            width: 286px;
            justify-content: baseline;
            padding: 15px 0;
            .wpcf7 {
                form {
                    height: fit-content;
                    width: 190px;
                    margin: 0 auto;
                    padding: 0;
                    gap: 15px;
                    .wpcf7-submit {
                        margin-top: 0;
                    }
                    textarea {
                        max-height: 149px;
                    }
                }
            }
        }
    }
    footer {
        max-width: 100%;
        height: fit-content;
        .footer-links {
            width: 100%;
            ul {
                height: 208px;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                width: 100%;
                text-align: center;
            }
        }
    }
}
