@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.small-font-size h2 {
  font-size: 32px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInUp {
  animation: fadeInUp 1.3s ease-out both;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  list-style: none;
  text-decoration: none;
  color: black;
}
* body {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
* main {
  width: 100%;
  margin: 0 auto;
}
* a {
  font-weight: normal;
  text-transform: uppercase;
  transition: font-weight 0.3s ease-in-out;
}
* a:hover {
  font-weight: bold;
}
* button {
  height: 50px;
  width: 272px;
  font-size: 12px;
  background-color: #D8D8D8;
  border-radius: 2px;
  color: #000000;
  border: none;
  transition: all 0.3s ease-in-out;
}
* button:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
}
nav .burger {
  display: none;
  cursor: pointer;
}
nav .navbar {
  width: 1148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
nav .menu-links ul {
  display: flex;
  gap: 40px;
  text-transform: uppercase;
}
nav .menu-links ul p {
  cursor: pointer;
}

footer {
  width: 1440px;
  border-top: 1px solid black;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer ul {
  width: 620px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.single-photo-container {
  max-width: 1148px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
}
.single-photo-container .photo-content {
  display: flex;
  gap: 10px;
  height: 80vh;
}
.single-photo-container .photo-content .photo-infos {
  width: 50%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}
.single-photo-container .photo-content .photo-infos .infos-content {
  max-width: 420px;
  overflow: visible;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: 14px;
  text-transform: uppercase;
}
.single-photo-container .photo-content .photo-infos .infos-content h2 {
  font-size: 66px;
  font-style: italic;
  line-height: 58px;
  font-weight: 300;
}
.single-photo-container .photo-content .photo-image {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.single-photo-container .photo-content .photo-image img {
  max-width: 100%;
  max-height: 100%;
}
.single-photo-container .photo-options {
  height: 188px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 1px solid black;
}
.single-photo-container .photo-options .option-contact {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: lighter;
}
.single-photo-container .photo-options .option-contact p {
  font-family: "Poppins", sans-serif;
}
.single-photo-container .photo-options .option-arrow {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  justify-content: start;
  gap: 10px;
  padding-top: 10px;
}
.single-photo-container .photo-options .option-arrow .arrows {
  width: 81px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.single-photo-container .photo-options .option-arrow .arrows img {
  position: absolute;
  right: 0;
  top: 0;
  height: 0px;
}
.single-photo-container .photo-options .option-arrow .arrows p {
  cursor: pointer;
}
.single-photo-container .photo-options .option-arrow .arrows p.arrow-left:hover + img {
  height: 71px;
}
.single-photo-container .photo-options .option-arrow .arrows p.arrow-right:hover + img {
  height: 71px;
}
.single-photo-container .photo-options .option-arrow img {
  width: 81px;
  height: 71px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: all 0.3s ease-in-out;
}

.photo-add-container {
  width: 100%;
  padding: 100px 0 50px;
}
.photo-add-container h3 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.photo-add-container .block-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 30px;
}
.photo-add-container img {
  max-width: 100%;
  max-height: 100%;
}

.photo-block img {
  height: 495px;
  width: 564px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

footer .modal-container {
  display: none;
}
footer .modal-container.active {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: rgba(6, 1, 1, 0.335);
}
footer .modal-container.active .modal {
  position: relative;
  height: 769px;
  width: 597px;
  border: 5px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0 10px;
}
footer .modal-container.active .modal .close-modal-btn {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: large;
}
footer .modal-container.active .modal .wpcf7 {
  padding-top: 30px;
  height: 100%;
  display: flex;
  justify-content: end;
}
footer .modal-container.active .modal .wpcf7 form {
  margin: 0 auto;
  width: 263px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
footer .modal-container.active .modal .wpcf7 form p {
  color: white;
  min-height: 63px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .modal-container.active .modal .wpcf7 form p:nth-of-type(1), footer .modal-container.active .modal .wpcf7 form p:nth-of-type(3) {
  animation: fadeInLeft 1.3s ease-out both;
}
footer .modal-container.active .modal .wpcf7 form p:nth-of-type(2), footer .modal-container.active .modal .wpcf7 form p:nth-of-type(4) {
  animation: fadeInRight 1.3s ease-out both;
}
footer .modal-container.active .modal .wpcf7 form p:nth-of-type(5) {
  animation: fadeInUp 1.3s ease-out both;
}
footer .modal-container.active .modal .wpcf7 form p label {
  height: 100%;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .modal-container.active .modal .wpcf7 form input, footer .modal-container.active .modal .wpcf7 form textarea {
  width: 100%;
  min-height: 40px;
  border-radius: 8px;
  border: 1px solid #b8bbc2;
  padding: 15px;
}
footer .modal-container.active .modal .wpcf7 form textarea {
  height: 210px;
}
footer .modal-container.active .modal .wpcf7 form .wpcf7-submit {
  margin-top: -10px;
  height: 50px;
  width: 272px;
  font-size: 12px;
  background-color: #D8D8D8;
  border-radius: 2px;
  color: #000000;
  border: none;
  max-width: 100%;
  transition: all 0.5s ease-in-out;
}
footer .modal-container.active .modal .wpcf7 form .wpcf7-submit:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.hero {
  height: 962px;
  margin: 0 auto;
  position: relative;
}
.hero::before {
  content: "photographe event";
  text-transform: uppercase;
  position: absolute;
  color: transparent;
  -webkit-text-stroke: 3px white;
  font-size: 96px;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  font-style: italic;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .photo-block {
  width: 100%;
  height: 100%;
}
.hero .photo-block img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.home-container {
  width: 1148px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 100px 0;
}
.home-container .home-button-filter, .home-container .home-button-load-more {
  height: 43px;
  width: 100%;
}
.home-container .home-list-photo {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
.home-container .home-button-load-more {
  display: flex;
  justify-content: center;
}

@media all and (max-width: 1024px) {
  nav {
    display: block;
    max-width: 100%;
    position: relative;
    height: -moz-fit-content;
    height: fit-content;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
  }
  nav .navbar {
    max-width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
  }
  nav .navbar .navbar-logo-burger {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    padding: 0 40px;
  }
  nav .navbar .navbar-logo-burger #logo img {
    height: 9px;
    width: 138px;
  }
  nav .navbar .navbar-logo-burger .burger {
    display: block;
  }
  nav .navbar .navbar-logo-burger .burger .hidden {
    display: none;
  }
  nav .navbar .menu-links {
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    background-color: #E00000;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
  }
  nav .navbar .menu-links ul {
    flex-direction: column;
    text-align: center;
  }
  nav .navbar .menu-links ul a, nav .navbar .menu-links ul p {
    color: #ffffff;
    font-size: 44px;
  }
  nav .navbar .menu-links.active {
    transform: scaleY(1);
    opacity: 1;
    height: 93vh;
    z-index: 1;
  }
  .single-photo-container {
    width: 100vw;
    padding: 20px 40px;
    height: auto;
  }
  .single-photo-container .photo-content {
    height: auto;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .single-photo-container .photo-content .photo-infos {
    width: 100%;
    border: none;
    overflow: scroll;
  }
  .single-photo-container .photo-content .photo-infos h2#photo-title {
    font-size: 46px;
    font-style: italic;
    line-height: 48px;
  }
  .single-photo-container .photo-content .photo-image {
    width: 100%;
  }
  .single-photo-container .photo-options {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    border: none;
  }
  .single-photo-container .photo-options .option-contact {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100vw;
    flex-direction: column;
    gap: 20px;
    height: -moz-fit-content;
    height: fit-content;
    padding: 30px 40px 25px;
    align-items: start;
  }
  .single-photo-container .photo-options .option-contact button {
    width: 100%;
  }
  .single-photo-container .photo-options .option-arrow {
    display: none;
  }
  .photo-add-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .photo-add-container .block-container {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 10px;
    width: 100%;
  }
  .photo-block img {
    height: 278px;
    width: 317px;
  }
  .hero {
    height: 253px;
  }
  .hero::before {
    font-size: 28px;
    -webkit-text-stroke: 1px white;
  }
  .home-container {
    width: 100vw;
    padding: 50px 0;
  }
  .home-container .home-button-filter {
    width: 100%;
  }
  .home-container .home-list-photo {
    flex-direction: column;
    align-items: center;
  }
  footer .modal-container.active {
    width: 100%;
    height: 100%;
  }
  footer .modal-container.active .modal {
    height: auto;
    width: 286px;
    justify-content: baseline;
    padding: 15px 0;
  }
  footer .modal-container.active .modal .wpcf7 form {
    height: -moz-fit-content;
    height: fit-content;
    width: 190px;
    margin: 0 auto;
    padding: 0;
    gap: 15px;
  }
  footer .modal-container.active .modal .wpcf7 form .wpcf7-submit {
    margin-top: 0;
  }
  footer .modal-container.active .modal .wpcf7 form textarea {
    max-height: 149px;
  }
  footer {
    max-width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  footer .footer-links {
    width: 100%;
  }
  footer .footer-links ul {
    height: 208px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
    text-align: center;
  }
}/*# sourceMappingURL=theme.css.map */